[Desktop Entry]
Encoding=UTF-8
Name=Sevencolors
Name[de]=Sevencolors
Name[pl]=Sevencolors
Comment=Capture more than 50% area
Comment[de]=Erobern mehr als 50% Oberfläche
Comment[pl]=Opanuj ponad 50% powierzchni
Exec=sevencolors
Icon=sevencolors.png
Terminal=false
Type=Application
Categories=GTK;GNOME;Game;LogicGame;
StartupNotify=true
